/*
http://colorschemedesigner.com/#3221Tw0tBw0w0
*/
@import url("/_lib/reset.css");
@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic&v2");

BODY {
    background: #FFF;
    color: #999;
    margin: 0;
    padding: 20px;
    font: normal 12pt/14pt Lato, sans-serif;
    text-align: center;
}
#body {
    width: 600px;
    position: relative;
    margin: 0 auto;
    text-align: left;
}

A               { color: #B1502C; }
A:visited       { color: #552311; }
A:hover         { color: #F5936E; }
A:visited:hover {}
A IMG           { border: none; }

H1 A, 
#definition I A {
    text-decoration: none;
    color: #00A359;
}
H1 A:visited, #definition I A:visited { color: #00A359; }
H1 A:hover, #definition I A:hover { color: #00A359; }
H1 A:visited, #definition I A:visited { color: #00A359; }
H1, #definition I {
    display: inline;
    color: #00A359;
    font-style: normal;
}
H1 {
    margin: 0;
    padding: 0;
    font: normal 20pt/24pt Lato, sans-serif;
}
.screencap {
    display: block;
    margin: 1em 0;
    padding: 1em 20px;
    border: 2px solid #00A359;
    border-style: solid none;
}
#topnav {
    position: absolute;
    top: 5px;
    right: 0;
    font: normal 10pt/14pt Lato, sans-serif;
}
H2 {
    font: bold 16pt/18pt Lato, sans-serif;
    color: #B1502C;
    margin: 2em 0 0.5em;
    padding: 0;
}
H3 {
    font: normal 14pt/16pt Lato, sans-serif;
    color: #B1502C;
    margin: 2em 0 0.5em;
    padding: 0;
}
H4 {
    font: normal 10pt/12pt Lato, sans-serif;
    color: #B1502C;
    text-transform: uppercase;
    margin: 2em 0 0.5em;
    padding: 0;
}
.doc {
    position: relative;
    background: #EFEFEF;
    color: #666;
    border: 2px solid #B1502C;
    border-style: solid none;
    margin: 20px 0;
    padding: 20px 20px 80px;
}
.doc H2.first {
    margin-top: 0;
}
.doc P {
    margin: 0 0 1em;
}
H2 CODE {
    font: bold 14pt/18pt "Lucida Console", Monaco, monospace;
}
CODE, PRE {
    font: normal 10pt/14pt "Lucida Console", Monaco, monospace;
}
PRE {
    font: normal 12px/14px "Lucida Console", Monaco, monospace;
    margin: 1em 0 1em 1.5em;
    padding: 3px 5px;
    border-left: 2px solid #999;
    overflow: auto;
}
A.button {
    display: block;
    position: absolute;
    bottom: 20px;
    color: white;
    background: #F5936E;
    background: #B1502C;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
}
A.button:hover {
    color: #F5936E;
}
A.home {
    left: 20px;
}
A.continue {
    right: 20px;
}
TABLE {
    margin: 1em 1em 3em;
    padding: 0;
    font: normal 12px/14px "Lucida Console", Monaco, monospace;
    color: #666;
    border-collapse: collapse;
    border-spacing: 0;
}
TH {
    font-weight: normal;
    text-align: left;
    width: 120px;
    vertical-align: top;
    padding: 1em 0 0;
}
TD {
    vertical-align: top;
    padding: 0.75em 0 0;
}
OL, UL {
    margin: 0 0 1em 2.25em;
}
OL LI { list-style: decimal; }
UL LI { list-style: disc; }
DL {
    margin: 0;
    padding: 0;
}
DT {
    margin: 1.5em 0 0;
    padding: 0;
}
DD {
    margin: 0;
    padding: 0 0 0 1.5em;
}
.warning {
    background: #FABCA8 url("exclamation.png") 10px 10px no-repeat;
    padding: 10px 10px 10px 30px;
    margin: 20px 0 30px;
    box-shadow: 5px 5px 5px #666;
    color: #481A10;
}
.highlighted {
    background: #FFFE98;
}
#footer {
    font-size: smaller;
}
.clear {
    clear: both;
}
@media screen and (max-width: 639px) {
    BODY { padding: 10px; }
    #body {
        width: 100%;
    }
    BR.maybe {
        display: none;
    }
    IMG {
        width: 100%;
    }
}
@media screen and (max-width: 319px) {
    BODY { padding: 5px; }
}
