language: python
python:
  - 2.5
  - 2.6
  - 2.7
install:
  - python setup.py -q install
  - pip install --use-mirrors simplejson coverage
script: nosetests --with-coverage tests
notifications:
  email: false
  irc: 
    channels:
      - "irc.freenode.org#aspen"
    on_success: never
    on_failure: always
    template:
      - "Failed build: %{build_url}"
    skip_join: true
branches:
  only:
    - master 
