.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}


* html .clearfix { 
	height: 1%; 
}

.clearfix {
	display: block;
}
